.download {
    width: 100%;
    min-height: 1090px;
    background-color: $section-bg;
    font-family: 'Poppins', sans-serif;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-text {
        width: 50%;
        margin-left: 50px;

        &__title {
            max-width: 475px;
            margin-bottom: 30px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: -50px;
                bottom: -8px;
                background-color: $secondary;
                height: 140px;
                width: 25px;
            }
        }

        &__descr {
            max-width: 450px;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 30px;
            color: $text-gray;
        }

    }

    &-buttons {
        max-width: 380px;
        display: flex;
        align-items: center;

        &__market {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #000;
            padding: 9px;
            margin-right: 20px;
            width: 180px;
            color: #fff;
            border-radius: 10px;

            img {
                margin-right: 18px;
            }

            span {
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
                text-transform: uppercase;

                b {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        &__store {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #000;
            padding: 9px;
            width: 180px;
            color: #fff;
            border-radius: 10px;

            img {
                margin-right: 18px;
            }

            span {
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
                text-transform: uppercase;
                text-transform: capitalize;

                b {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }

    &-images {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__cookie {
            max-width: 50%;
            position: absolute;
            right: 280px;
            top: 280px;
            z-index: 2;
        }

        &__phone {
            max-width: 100%;
            position: relative;
            z-index: 3;
        }

    }
}


@media (max-width: 1260px) {
    .download {
        min-height: 960px;
    }
}

@media (max-width: 1260px) {
    .download {
        min-height: 820px;
    }
}


@media (max-width: 1010px) {
    .download {
        min-height: 560px;

        &-images {
            &__phone {
                max-width: 70%;
            }

            &__cookie {
                right: 119px;
                top: 115px;
            }
        }
    }

}


@media (max-width: 900px) {
    .download {
        &-inner {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
        }

        &-text {
            &__title.title {
                font-weight: 500;
                font-size: 36px;
                line-height: 48px;
                margin-bottom: 30px;
            }

            &__descr {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 30px;
            }
        }

        &-images {
            align-items: center;
            justify-content: center;
        }

        &-buttons {
            &__market {
                height: 50px;
            }

            &__store {
                height: 50px;
            }
        }
    }
}

@media (max-width: 750px) {
    .download {
        &-inner {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
        }

        &-text {
            width: 100%;
            text-align: center;
            margin: 0;

            &__title.title {
                font-weight: 500;
                font-size: 36px;
                line-height: 48px;
                margin-bottom: 30px;
                max-width: 100%;
                width: 100%;

                &::before {
                    left: 0;
                    width: 12px;
                }
            }

            &__descr {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 30px;
                max-width: 100%;
            }
        }

        &-images {
            align-items: center;
            justify-content: center;

            &__phone {
                max-width: 100%;
            }

            &__cookie {
                right: 156px;
                top: 128px;
            }
        }

        &-buttons {
            max-width: 100%;
            justify-content: center;

            &__market {
                height: 50px;
            }

            &__store {
                height: 50px;
            }
        }
    }
}


@media (max-width: 550px) {
    .download-images__cookie {
        right: 115px;
        top: 128px;
    }
}

@media (max-width: 430px) {
    .download-images__cookie {
        right: 115px;
        top: 128px;
    }

    .download-text__title.title {
        line-height: 38px;
        margin-bottom: 10px;
    }

    .download-text__descr {
        margin-bottom: 10px;
    }

    .download-buttons__market span {
        font-size: 10px;
    }

    .download-buttons__market span b {
        font-size: 10px;
    }

    .download-buttons__store span {
        font-size: 10px;
    }

    .download-buttons__store span b {
        font-size: 10px;
    }

    .download-images__cookie {
        right: 77px;
        top: 83px;
    }
}