.download {
    width: 100%;
    min-height: 1090px;
    background-color: $section-bg;
    font-family: 'Poppins', sans-serif;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-text {
        width: 30%;

        &__title {
            max-width: 475px;
            margin-bottom: 30px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: -50px;
                bottom: -8px;
                background-color: $secondary;
                height: 140px;
                width: 25px;
            }
        }

        &__descr {
            max-width: 450px;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 30px;
            color: $text-gray;
        }

    }

    &-buttons {
        max-width: 380px;
        display: flex;
        align-items: center;

        &__market {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #000;
            padding: 9px;
            margin-right: 20px;
            width: 180px;
            color: #fff;
            border-radius: 15px;

            img {
                margin-right: 18px;
            }

            span {
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
                text-transform: uppercase;

                b {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        &__store {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #000;
            padding: 9px;
            width: 180px;
            color: #fff;
            border-radius: 15px;

            img {
                margin-right: 18px;
            }

            span {
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
                text-transform: uppercase;
                text-transform: capitalize;

                b {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }

    &-images {
        width: 70%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__cookie {
            max-width: 50%;
            position: absolute;
            right: 280px;
            top: 280px;
            z-index: 2;
        }

        &__phone {
            max-width: 100%;
            position: relative;
            z-index: 3;
        }

    }
}