.footer {
    min-height: 950px;
    background: $primary url('../images/flower.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    font-family: 'Poppins', sans-serif;
    padding: 30px 0;

    &-inner {
        width: 100%;
        min-height: 950px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    &-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &-link {
        margin-right: 70px;

        &__link {
            margin-right: 5px;
        }
    }

    &-menu {
        margin-bottom: 200px;

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 450px;
        }

        &__link {
            font-size: 16px;
            line-height: 24px;
            color: $text-gray;
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            margin-bottom: 30px;
            color: $text-blue;
            font-size: 36px;
            line-height: 48px;
            text-align: center;
            max-width: 533px;
            text-transform: capitalize;
        }

        &__descr {
            margin-bottom: 60px;
            max-width: 533px;
            font-size: 14px;
            line-height: 24px;
            color: $text-gray;
            text-align: center;
        }
    }

    &-form {
        margin-bottom: 60px;
        width: 550px;
        height: 90px;
        background-color: #fff;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;

        &__email {
            border: none;
            font-family: 'Poppins', sans-serif;
            height: 60px;
            padding: 20px;
            width: 360px;
        }

        &__button {
            width: 56px;
            height: 56px;
            border-radius: 100px;
            background-color: $secondary;
            border: none;

        }
    }
}


@media (max-width: 1265px) {
    .footer {
        background-size: 34%;
        background-position-x: -10%;
        min-height: 660px;

        &-inner {
            min-height: 660px;
        }
    }
}


@media (max-width: 800px) {
    .footer {
        background-size: 50%;
        background-position-x: -30%;
        min-height: 420px;

        &-inner {
            min-height: 420px;
            justify-content: center;
            align-items: center;
        }

        &-text {
            height: 350px;

            &__descr {
                margin-bottom: 20px;
            }
        }

        &-bottom {
            justify-content: center;
            align-items: center;
        }

        &-form {
            margin-bottom: 20px;
            width: 370px;
            padding: 10px;
            padding-left: 20px;

            &__email {
                padding: 0;
                height: 30px;
                width: 200px;
            }

            &__button {
                width: 40px;
                height: 40px;
            }
        }
    }
}


@media (max-width: 570px) {
    .footer {
        padding-top: 5px;

        &-text {
            &__title {
                max-width: 100%;
                margin-bottom: 10px;

            }
        }

        &-form {
            max-width: 80%;
            width: 80%;
            height: 50px;
        }

        &-menu {
            margin-bottom: 10px;
            max-width: 100%;
            width: 100%;
            justify-content: center;
            height: 50px;

            &__list {
                max-width: 100%;
                display: flex;
                height: 50px;
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
            }

            &__item {
                margin-right: 10px;
            }
        }
    }
}


@media (max-width: 435px) {
    .footer {
        background-size: 50%;
        background-position-x: -50%;
        background-position-y: 50%;

        &-text {
            &__title {
                font-size: 30px;
                line-height: 34px;
            }
        }

        &-form {
            margin-bottom: 5px;
        }

        &-link {
            margin-right: 5px;
        }

        &-bottom {
            margin-top: 15px;
        }

    }
}