.header {
    width: 100%;
    min-height: 1210px;
    background-color: $primary;
    font-family: 'Poppins', sans-serif;
    position: relative;

    &-inner {
        width: 100%;
    }

    &-burger {
        display: none;
    }

    &-top {
        width: 100%;
        min-height: 108px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        max-width: 250px;

        &__img {
            max-width: 100%;
        }
    }

    &-cabinet {
        position: relative;
        margin-right: 15px;
        z-index: 2;

        &__name {
            color: #fff;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            margin-left: 9px;
            position: relative;

            &::after {
                content: '';
                background-image: url('../images/arrow-bottom.svg');
                background-repeat: no-repeat;
                width: 10px;
                height: 10px;
                position: absolute;
                right: -15px;
                top: 8px;
            }
        }
    }
}

.menu {
    max-width: 600px;
    position: relative;
    z-index: 2;

    &-list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__item {
            margin-right: 45px;
        }

        &__link {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $text-blue;
        }
    }
}

.swiper {
    &-container {
        max-width: 100%;
        min-height: 900px;
    }

    &-wrapper {
        width: 100%;
        min-height: 900px;
    }

    &-slide {
        width: 100%;
        min-height: 900px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    &-text {
        width: 50%;
        min-height: 900px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        &__accent {
            font-weight: 900;
            font-size: 200px;
            display: flex;
            align-items: center;
            text-align: center;
            color: rgba($text-blue, 0.05);
        }

        &__title {
            font-weight: bold;
            font-size: 72px;
            line-height: 90px;
            color: $text-blue;
            margin-bottom: 40px;
            margin-top: -30px;
        }

        &__form {
            background-color: #fff;
            min-width: 670px;
            min-height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            input {
                font-weight: normal;
                font-size: 18px;
                line-height: 70px;
                width: 320px;
                margin-left: 40px;
                color: $text-blue;
                border: none;
                outline: none;

                &::placeholder {
                    color: $text-blue;
                }
            }

            button {
                font-weight: 600;
                font-size: 30px;
                color: #fff;
                text-transform: uppercase;
                height: 72px;
                width: 200px;
                background-color: $secondary;
                border: none;
                outline: none;
                border-top-left-radius: 60px;
            }
        }

    }

    &-image {
        width: 50%;
        min-height: 900px;
        background: url('../images/salad.png') top center, url('../images/dot.svg') left center;
        background-repeat: no-repeat;
        background-size: 60%;
        position: relative;

        img {
            position: absolute;
            top: 146px;
            left: 0;
            max-width: 100%;
        }

    }
}



.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    background-repeat: no-repeat;
    height: 45px;
    width: 66px;
    position: static;
    margin-left: 40px;
}

.swiper-button-prev {
    background-image: url('../images/prev.svg');
}

.swiper-button-next {
    background-image: url('../images/next.svg');
}

.accent-block {
    min-height: 1210px;
    width: 27%;
    background-color: $secondary;
    position: absolute;
    right: 0;
    top: 0;
}


.header-label {
    position: absolute;
    left: 0;
    bottom: 230px;
    width: 280px;
    height: 65px;
    background-color: $secondary;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        font-weight: 500;
        font-size: 30px;
        line-height: 90px;
        color: #fff;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 25px;
            background-image: url('../images/location.svg');
            left: -35px;
            top: 32px;
        }
    }
}

@media (max-width: 1380px) {
    .swiper-text__form {
        min-width: 500px;
    }
}

@media (max-width: 1200px) {
    .header {
        min-height: 924px;

        &-logo {
            max-width: 205px;

            &__img {
                max-width: 100%;
            }
        }

        &-burger {
            display: flex;
            position: relative;
            z-index: 3;
            width: 30px;
            height: 20px;


            &::before,
            &::after {
                content: '';
                position: absolute;
                background-color: #fff;
                width: 100%;
                height: 2px;
                transition: .3s all ease;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
                width: 70%;
                right: 0;
                left: none;
            }

            span {
                position: absolute;
                background-color: #fff;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: .3s all ease;
            }
        }


        &-cabinet {
            display: none;
        }

    }

    .menu {
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        max-width: 100%;
        height: 100%;
        background-color: $secondary;
        transition: .3s all ease;

        &-list {
            display: flex;
            flex-direction: column;

            &__item {
                margin: 30px;
            }

            &__link {
                font-size: 40px;
                color: #fff;
            }
        }

    }

    .menu.active {
        top: 0;
    }

    .header-burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active::after {
        transform: rotate(-45deg);
        width: 100%;
        bottom: 9px;
    }

    .header-burger.active span {
        transform: scale(0);
    }

    .swiper-text {
        min-height: 600px;

        &__accent {
            font-weight: 900;
            font-size: 150px;
            line-height: 225px;
        }

        &__title {
            font-weight: bold;
            font-size: 60px;
            line-height: 70px;
        }
    }

    .swiper {
        &-container {
            max-width: 100%;
            min-height: 600px;
            height: 600px;
        }

        &-wrapper {
            width: 100%;
            min-height: 600px;
        }

        &-slide {
            width: 100%;
            min-height: 600px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .accent-block {
        min-height: 924px;
    }

    .header-bottom {
        min-height: 600px;
        height: 600px;
    }

    .swiper-text__form {
        width: 462px;
        min-width: 462px;
    }

    .header-label {
        bottom: 120px;
    }

    .swiper-buttons {
        position: relative;
        bottom: 24px;
    }

    .swiper-text {
        width: 60%;
    }

    .swiper-image {
        width: 40%;
        background: url('../images/salad.png') left 25%, url('../images/dot.svg') left center;
        background-repeat: no-repeat;
        background-size: 60%;
        position: relative;

        img {
            top: 235px;
        }
    }

}



@media (max-width: 743px) {
    .swiper-text__accent {
        font-size: 125px;

    }

    .swiper-text__title {
        font-size: 50px;
        line-height: 54px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-repeat: no-repeat;
        height: 30px;
        width: 50px;
        position: static;
        margin-left: 10px;
    }

    .swiper-button-prev {
        background-image: url('../images/left-arrow.svg');
    }

    .swiper-button-next {
        background-image: url('../images/right-arrow.svg');
    }

    .swiper-buttons {
        height: 30px;
    }

    .swiper-text__form {
        width: 395px;
        min-width: 395px;
    }
}


@media (max-width: 572px) {
    .header {
        min-height: 1054px;

        &-top {
            min-height: 55px;
            padding-top: 15px;
        }

        &-logo {

            &__img {
                width: 165px;
            }
        }

        &-label {
            bottom: 520px;

            z-index: 1;
        }
    }

    .swiper {


        &-container {
            height: 985px;
        }

        &-text {
            width: 100%;
            min-height: 340px;

            &__accent {
                font-weight: 900;
                font-size: 100px;
                line-height: 150px;
                margin-bottom: 20px;
            }

            &__title {
                font-weight: bold;
                font-size: 36px;
                line-height: 48px;
                max-width: 73%;
            }

            &__form {
                max-width: 462px;
                min-height: 90px;

                button {
                    height: 72px;
                }
            }
        }

        &-slide {
            display: flex;
            flex-direction: column;
        }

        &-image {
            width: 100%;
            min-height: 600px;

            img {
                max-width: 100%;
                top: 100px;
            }
        }


    }

    .accent-block {
        min-height: 1054px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-repeat: no-repeat;
        height: 30px;
        width: 50px;
        position: static;
        margin-left: 10px;
    }

    .swiper-button-prev {
        background-image: url('../images/left-arrow.svg');
    }

    .swiper-button-next {
        background-image: url('../images/right-arrow.svg');
    }

    .swiper-buttons {
        height: 30px;
    }
}

@media (max-width: 544px) {
    .swiper-text__title {
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 15px;
    }

    .swiper-text__accent {
        font-size: 86px;
        line-height: 100px;
    }

    .swiper-text__form {
        max-width: 100%;
        width: 100%;
        min-width: 100%;
        height: 60px;
        min-height: 60px;

        input {
            width: 160px;
            height: 30px;
            margin-left: 0;
            font-size: 13px;
        }

        button {
            height: 40px;
            width: 80px;
            font-size: 20px;
        }
    }

    .header-label {
        width: 180px;
        height: 46px;
        bottom: 290px;

        &__text {
            font-size: 20px;
        }
    }

    .swiper {
        &-container {
            max-width: 100%;
            min-height: 600px;
            height: 600px;
        }

        &-wrapper {
            width: 100%;
            min-height: 600px;
        }

        &-text {
            min-height: 220px;
        }

        &-slide {
            width: 100%;
            min-height: 600px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-image {
            min-height: 270px;

            img {
                top: 1px;
            }
        }
    }

    .header {
        min-height: 500px;
    }

    .header-logo {
        max-width: 100px;
    }

    .accent-block {
        min-height: 656px;
    }

    .swiper-button-prev {
        background-image: url('../images/left-carousel.svg');
    }

    .swiper-button-next {
        background-image: url('../images/right-carousel.svg');
    }
}


@media (min-width: 347px) and (max-width: 543px) {
    .header {
        min-height: 860px;

        &-label {
            bottom: 513px;
        }
    }

    .swiper {
        &-container {
            height: 806px;
        }

        &-image {
            min-height: 500px;
        }
    }

    .accent-block {
        min-height: 860px;
    }
}