.service {
    width: 100%;
    min-height: 1270px;
    padding-left: 15px;
    background-color: $primary;
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/dots.svg');
    background-repeat: no-repeat;
    background-position: center bottom;

    &-text {
        width: 100%;
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__title {
            width: 636px;
            text-transform: capitalize;
            position: relative;
            margin-left: 56px;

            &::before {
                content: '';
                position: absolute;
                left: -55px;
                top: -40px;
                width: 25px;
                height: 140px;
                background-color: $secondary;

            }
        }

        &__subtitle {
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: $text-gray;
            display: inline-block;
            width: 610px;
        }
    }

    &-container {
        margin-top: 200px;
        width: 100%;
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-left {
        width: 62%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-right {
        width: 38%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    &-people {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 390px;
            height: 380px;
            background-color: $section-bg;
            margin-right: 120px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                display: block;
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                color: $text-blue;
                text-transform: capitalize;
                width: 210px;
                text-align: left;
                margin-bottom: 20px;
                position: relative;

            }

            p {
                display: block;
                width: 200px;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    &-plate {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 390px;
            height: 380px;
            background-color: $section-bg;
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 220px;

            span {
                display: block;
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                color: $text-blue;
                text-transform: capitalize;
                width: 160px;
                text-align: right;
                margin-bottom: 20px;
                position: relative;

            }

            p {
                display: block;
                width: 200px;
                font-size: 14px;
                line-height: 24px;
                color: $text-gray;
            }
        }
    }

    &-moto {
        text-align: center;
        width: 560px;
        min-height: 758px;
        background-color: $section-bg;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__image {
            margin-bottom: 90px;
        }

        &__text {
            span {
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                text-transform: capitalize;
                text-align: center;
                color: $text-blue;
                width: 240px;
                display: block;
                margin-bottom: 20px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                color: $text-gray;
                display: inline-block;
                width: 200px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -20px;
                    left: 5px;
                    height: 3px;
                    width: 192px;
                    background-color: $secondary;
                }
            }
        }
    }
}

.arrow-left {
    &::before {
        content: '';
        position: absolute;
        left: -191px;
        top: 10px;
        background-image: url('../images/arrow-left.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 182px;
    }

    &::after {
        content: '';
        position: absolute;
        right: 24px;
        top: 17px;
        background-color: $secondary;
        height: 3px;
        width: 84px;
    }
}


.arrow-right {
    &::before {
        content: '';
        position: absolute;
        left: 10px;
        top: 15px;
        background-color: $secondary;
        height: 3px;
        width: 84px;
    }

    &::after {
        content: '';
        position: absolute;
        right: -270px;
        top: 10px;
        background-image: url('../images/arrow-right.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 268px;
    }
}


@media (max-width: 1400px) {
    .service {
        min-height: 2000px;

        &-inner {
            min-height: 1800px;
        }

        &-container {
            display: flex;
            flex-direction: column;
            min-height: 1400px;
            justify-content: flex-start;
            align-items: center;
            margin-top: 0;
        }

        &-left {
            width: 100%;
            height: 900px;
        }

        &-right {
            width: 100%;
            height: 700px;
        }

        &-people {
            justify-content: center;
            margin-bottom: 20px;
        }

        &-plate {
            justify-content: center;
            margin-bottom: 75px;
        }
    }
}

@media (max-width: 800px) {
    .service {
        min-height: 1300px;

        &-container {
            min-height: 1300px;
        }

        &-text {
            display: flex;
            flex-direction: column;

            &__title {
                margin-bottom: 40px;
                max-width: 100%;
            }

            &__subtitle {
                max-width: 100%;
            }
        }

        &-people {
            &__image {
                width: 290px;
                height: 290px;

                img {
                    max-width: 40%;
                }
            }
        }

        &-plate {
            &__text {
                margin-right: 50px;
            }

            &__image {
                height: 290px;
                width: 290px;

                img {
                    max-width: 40%;
                }
            }
        }

        &-moto {
            width: 400px;
            min-height: 500px;

            &__image {
                img {
                    max-width: 50%;
                }
            }
        }

        &-left {
            height: 700px;
        }

        &-right {
            height: 500px;
        }
    }

    .arrow-left {
        &::before {
            content: '';
            position: absolute;
            left: -80px;
            top: 10px;
            background-image: url('../images/arrow-left-small.svg');
            background-repeat: no-repeat;
            height: 20px;
            width: 182px;
        }

        &::after {
            content: '';
            position: absolute;
            right: 24px;
            top: 17px;
            background-color: $secondary;
            height: 3px;
            width: 84px;
        }
    }


    .arrow-right {
        &::before {
            content: '';
            position: absolute;
            left: 10px;
            top: 15px;
            background-color: $secondary;
            height: 3px;
            width: 84px;
        }

        &::after {
            content: '';
            position: absolute;
            right: -270px;
            top: 10px;
            background-image: url('../images/arrow-right-small.svg');
            background-repeat: no-repeat;
            height: 20px;
            width: 268px;
        }
    }
}



@media (max-width: 600px) {
    .service {
        min-height: 700px;

        &-container {
            min-height: 700px;
        }

        &-inner {
            min-height: 700px;
        }

        &-text {
            padding-bottom: 15px;

            &__title.title {
                font-size: 34px;
                line-height: 34px;
                margin-bottom: 20px;
                margin-left: 0;

                &::before {
                    width: 10px;
                    height: 80px;
                    left: -13px;
                    top: -23px;
                }
            }
        }

        &-people {
            &__image {
                width: 150px;
                height: 150px;
                margin-right: 40px;
            }

            &__text {
                span {
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 5px;
                }
            }
        }

        &-plate {
            &__image {
                width: 150px;
                height: 150px;
            }

            &__text {
                span {
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 5px;
                }
            }
        }

        &-left {
            height: 410px;
        }

        &-right {
            height: 310px;
        }

        &-moto {
            width: 260px;
            min-height: 300px;

            &__image {
                margin-bottom: 20px;

                img {
                    max-width: 36%;
                }
            }

            &__text {
                span {
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .arrow-left {
        &::before {
            top: 5px;
        }

        &::after {
            right: 47px;
            top: 11px;
        }
    }

    .arrow-right {
        &::before {
            left: 30px;
            top: 9px;
        }

        &::after {
            top: 2px;
            width: 84px;
            right: -87px;
        }
    }
}


@media (max-width: 450px) {
    .service {
        &-people {
            &__image {
                min-width: 100px;
                min-height: 100px;
                height: 100px;
                margin-right: 5px;

                img {
                    max-width: 50%;
                }
            }

            &__text {
                span {
                    width: 200px;
                }
            }
        }

        &-plate {
            &__image {
                min-width: 100px;
                min-height: 100px;
                height: 100px;

                img {
                    max-width: 50%;
                }
            }
            &__text {
                margin-right: 5px;
            }
        }
    }

    .arrow-left,
    .arrow-right {
        &::before,
        &::after {
            display: none;
        }
    }
}