$primary: #FFF5EC;     // главный цвет на сайте
$secondary: #FE043C;   // красный цвет для акцентов
$text-blue: #2E266F;   // синий текст
$text-gray: #707070;   // серый текст
$section-bg: #FFEDDE;  // фон для секций


